@model OrderItemViewModel
<div class="row">
    <div class="col-6 text-center">
        <h3>Редактирование позиции в заказе</h3>
        <form method="post">
            <div class="validation alert-danger" asp-validation-summary="ModelOnly"></div>
            <input type="hidden" asp-for="OrderId" />
            <input type="hidden" asp-for="Id" />
            <input class="form-control my-3" asp-for="Name" type="text" placeholder="Наименование" />
            <span class="alert-danger" asp-validation-for="Name"></span><br />
            <input class="form-control my-3" asp-for="Quantity" type="text" placeholder="Количество" />
            <span class="alert-danger" asp-validation-for="Quantity"></span><br />
            <input class="form-control my-3" asp-for="Unit" type="text" placeholder="Единица" />
            <span class="alert-danger" asp-validation-for="Unit"></span><br />
            <button type="submit" asp-controller="OrderItem" asp-action="SaveChanges" class="btn btn-outline-success my-5">Сохранить</button>
        </form>
    </div>
</div>
